.button {
  --bg-color: var(--grey-9);
  padding: 2px 15px;
  background: var(--bg-color);
  box-sizing: border-box;
  display: block;
  text-align: center;
  border-radius: 4px;
  margin: 20px auto;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  line-height: 1.6;
  user-select: none;
}

.full_width {
  width: 100%;
}

.primary {
  --bg-color: var(--main-5);
  color: white;
}

.primary:hover {
  --bg-color: var(--main-4);
}

.primary .secondary {
}

.link {
}

.disabled {
}
